// app global css in SCSS form
@font-face {
    font-family: iransans;
    src: url(./fonts/IRANSansWeb.woff);
}
@font-face {
    font-family: iransans;
    src: url(./fonts/IRANSansWebBold.woff) format('woff');
    font-weight: 900;
}
@font-face {
    font-family: iransans;
    src: url(./fonts/IRANSansWebMedium.woff) format('woff');
    font-weight: 500;
}
@font-face {
    font-family: iransans;
    src: url(./fonts/IRANSansWebLight.woff) format('woff');
    font-weight: 300;
}
@font-face {
    font-family: iransans;
    src: url(./fonts/IRANSansWebUltraLight.woff) format('woff');
    font-weight: 100;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'iransans';
    overflow-x: hidden;
    background-color: $bg-white;
}
a {
    text-decoration: none;
}
.container {
    padding: 0 150px;
}
.header {
    white-space: nowrap;
    span {
      font-size: 24px;
    }
}
@media (max-width: $breakpoint-md-max) {
    .container {
        padding: 0 100px;
    }
}
@media (max-width: $breakpoint-md-min) {
    .container {
        padding: 0 20px;
    }
}
