// app global css in SCSS form
@font-face {
    font-family: iransans;
    src: url(./fonts/FontsFree-Net-ir_sans.ttf);
}
@font-face {
    font-family: iransans;
    src: url(./fonts/IRANSansWebMedium.woff) format('woff');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'iransans';
}
a {
    text-decoration: none;
}
.container {
    padding: 0 150px;
}
.header {
    white-space: nowrap;
    span {
      font-size: 24px;
    }
}